@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.cdnfonts.com/css/clash-display');

*{
    margin: 0px;
    padding: 0px;
}

.container_0{
    position: relative;

    width: 100%;
    height: 700px;
    background: linear-gradient(221.26deg, #5185DD -3.4%, #073F9E 101.08%), #201F1F;
}

.left {
    display: inline-block;
    position: relative;
    /* margin: 5px 40px; */
    text-align: center;
    left: 5%;
}
.left a {
    position: relative;
    width: 151px;
    height: 25px;
    left: 0%;
    top: 33px;
    text-decoration: none;
    font-size: xx-large;
    color: white;
}
.left hr{
    position: relative;
    width: 145px;
    left: 0%;
    top: 36px;
    border: 1px solid white;
}
.left p {
    position: relative;
    width: 151px;
    height: 25px;
    left: 0%;
    top: 40px;
    font-size: 11px;
    color: white;

}
.right {
    display: inline-flex;

    position: absolute;
    width: 23%;
    /* left: 75%; */
    right: 0%;
    top: 5%;
}
.btn1 {
    position: relative;
    width: 70px;
    height: 40px;
    top: 0px;
    margin: 5px;
    text-align: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 39px;
    border: none;
    opacity: 1;
}
.btn2 {
    position: relative;
    width: 120px;
    height: 40px;
    top: 0px;
    margin: 5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #073F9E;
    background-color: white;
    border-radius: 39px;
    font-size: medium;
    border: none;
}
.btn2 a {
    text-decoration: none;
    color: black;
}

.container_0 img {

    position: absolute;
    display: flex;
    flex-direction: row;
    border-top-left-radius: 10px;
    left: 54%;
    top: 15%;
    max-width: 100%;
    width: 46%;
    height: 85%;
    padding-bottom: 0%;
}

.container_center {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90%;
    left: 5%;
    top: 170px;
}
.container_center h1 {
    position: relative;
    /*width: 561px;
    height: 124px;
    left: 103px;
    top: 238px;*/
    width: 80%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    /* or 62px */


    color: white;

}
.container_center p {
    position: relative;
    width: 90%;
    left: 0%;
    right: 50.9%;
    top: 2%;
    bottom: 35.68%;
    /* width: 605px; */

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    /* or 200% */


    color: white;
    opacity: 0.8;

}
.form {
    margin: auto;
    border: 2px solid black;
    width: 250px;
    background-color: white;
}
.formgroup input{
    /* display:block; */

    outline: none;
    background: transparent;
    position: relative;
    width: 352px;
    height: 38px;
    left: 0px;
    top: 67px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.16);
    border-radius: 31px;
    border: none;
    color: white;
    padding-left: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 16px;
    outline: none;
}
.formgroup ::-webkit-input-placeholder{
    color: white;
    opacity: 0.7;
    font-weight: 500;
    font-size: 14px;
    font-family: 'Lato';
    font-style: normal;
}
.btn {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 12px 24px;
    gap: 10px;

    position: relative;
    width: 94px;
    height: 41px;
    left: 283px;
    top: 25px;
    background: #FFFFFF;
    border-radius: 31px;
    text-decoration: none;
    border: none;
}

.btn a {
    color: #073F9E;
    text-decoration: none;
    font-size: 14px;

}

.btn a:visited {
    /* color: #073F9E;      */ 
    color: black;
}



.container_1 {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    width: 84%;
    height: 454px;
    left: 8%;
    top: 130px;
}

.container_1 h1 {
    position: relative;
    width: 268px;
    height: 64px;
    left: 16px;
    top: 0px;

    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
    /* identical to box height, or 145% */
    color: #073F9E;
}
.box_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: relative;
    width: 37.5%;
    height: 356px;
    left: -260px;
    top: 21%;
}
.box_11 {
    width: 100%;
    height: 20%;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    border: 4px solid #F8F8F8;
    border-radius: 4px;
}
.box_11 p {
    position: relative;
    width: 100%;
    height: 36px;
    left: 7%;
    top: 25%;
    display: inline;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #073F9E;
}
#wwd-1{
    box-sizing: border-box;
    padding: 5px 5px;
    left: 5%;
    
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    padding: 10px 15px;
    font-family: 'Lato';
}
.box_12 {
    width: 100%;
    height: 20%;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    border: 4px solid #F8F8F8;
    border-radius: 4px;
}

.box_12 p {
    position: relative;
    width: 100%;
    height: 36px;
    left: 7%;
    top: 25%;
    display: inline;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #073F9E;
}
#wwd-2{
    box-sizing: border-box;
    padding: 5px 5px;
    left: 5%;
    
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    padding: 10px 15px;
    font-family: 'Lato';
}
.box_13 {
    width: 100%;
    height: 20%;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    border: 4px solid #F8F8F8;
    border-radius: 4px;
}
.box_13 p {
    position: relative;
    width: 100%;
    height: 36px;
    left: 7%;
    top: 25%;
    display: inline;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #073F9E;
}
#wwd-3{
    box-sizing: border-box;
    padding: 5px 5px;
    left: 5%;
    
    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    padding: 10px 15px;
    font-family: 'Lato';
}
.box_14 {
    width: 100%;
    height: 20%;

    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    border: 4px solid #F8F8F8;
    border-radius: 4px;

}
.box_14 p {
    position: relative;
    width: 100%;
    height: 36px;
    left: 7%;
    top: 25%;
    display: inline;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height, or 150% */


    color: #073F9E;
}
#wwd-4{
    box-sizing: border-box;
    padding: 5px 5px;
    left: 5%;

    background: #F8F8F8;
    border: 1px solid #ECECEC;
    border-radius: 50%;
    padding: 10px 15px;
    font-family: 'Lato';
}
.box_15 {
    position: relative;

    width: 57%;
    height: 99%;
    left: 43%;
    top: -79.5%;
    border-radius: 24px;

}
video{
    /* border: 2px solid black; */
    border: 2px solid #073F9E;
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.container_2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* padding: 10px; */
    width: 100%;
    height: 222px;
    left: 0px;
    top: 220px;
    
    background: #073F9E;
}
.container_21{
    /* text-align: left; */
    display: flex;
    position: relative;
    width: 50%;
    left: 15%;
    text-align: left;
}

.container_2 .mission {
    position: absolute;
    width: 30%;
    height: 64px;
    /* left: 218px; */
    top: 36px;

    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
    /* identical to box height, or 145% */


    color: #FFFFFF;
}

.container_2 .text {
    position: absolute;
    width: 90%;
    height: 78px;
    /* left: 218px; */
    top: 107px;



    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    /* or 39px */


    color: #FFFFFF;

}
.container_2 .logo {
    position: relative;
    box-sizing: border-box;
    display: flex;
    width: 305px;
    height: 305px;
    left: -10%;
    top: -30px;
}


.container_4 {
    position: relative;
    display: flex;
    width: 100%;
    height: 804px;
    left: 0px;
    top: 100px;
    background: linear-gradient(148.4deg, #073F9E 0%, #487CD5 100%);
}
.container_4 h1 {
    position: absolute;
    width: 100%;
    height: 6%;
    left: 0%;
    text-align: center;
    top: 5%;

    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 100%;
    /* identical to box height, or 145% */


    color: #FFFFFF;
}
.box_40 {
    position: relative;

    height: 546px;
    top: 150px;
    width: 100%;
}

.media_scroller {
    --spacer: 2rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 28%;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    padding: 0 var(--spacer) var(--spacer);
}

.media_scroller::-webkit-scrollbar{
    width: 10px;
    
}
.media_scroller::-webkit-scrollbar-track{
    background: #F1F1F1;
    border-radius: 10px;

}
.media_scroller::-webkit-scrollbar-thumb{
    background:  #000000;
    border-radius: 10px;
}
.media_scroller::-webkit-scrollbar-thumb:hover{
    background:  #000000;;
}
.media_scroller::-webkit-scrollbar-button{
    /* width: ; */
}

.media_element {
    display: grid;
    gap: var(--spacer);
    grid-template-rows: min-content;
    padding: var(--spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);

}
.media_element h2{
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
}
.media_element p{
    color: white;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
}
.media_element a{
    color: white;
    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
}

.media_element>img {
    inline-size: 100%;
    border-radius: 10px;

}
.container_5 {
    position: relative;
    width: 100%;
    height: 486px;
    left: 0%;
    top: 150px;
    display: flex;
}

.container_5 h1 {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0%;
    top: 10%;
    text-align: center;

    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 64px;
    /* identical to box height, or 145% */
    color: #073F9E;
}


.container_51 img{
    position: relative;
    top: 9%;
}


.container_51{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 100%;
    top: 15%;
    
}

.about_5{
    position: absolute;
    top: 40%;
    width: 80%;
    left: 10%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #676767;
}
.box_5 .quote{
    position: absolute;
    top: 25%;
    left: 55%;
}

.box_5{
    text-align: center;
}
.box_50 {
    display: inline;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    width: 23%;
    height: 328px;
    left: 12%;
    top: calc(50% - 328px/2 + 42px);
    text-align: center;

    background: #FFFFFF;
    border: 1px solid rgba(28, 27, 31, 0.1);
    /* Shadow/Shadow (XS) */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
.box_51 {
    display: inline;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    width: 23%;
    height: 328px;
    left: 39%;
    top: calc(50% - 328px/2 + 42px);
    text-align: center;

    background: #FFFFFF;
    border: 1px solid rgba(28, 27, 31, 0.1);
    /* Shadow/Shadow (XS) */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.box_52 {
    display: inline;
    box-sizing: border-box;
    justify-content: center;
    position: absolute;
    width: 23%;
    height: 328px;
    left: 66%;
    top: calc(50% - 328px/2 + 42px);
    text-align: center;

    background: #FFFFFF;
    border: 1px solid rgba(28, 27, 31, 0.1);
    /* Shadow/Shadow (XS) */

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}
.container_51 hr{
    position: absolute;
    width: 15%;
    left: 42%;
    top: 70%;
    border: 1px solid #073F9E;
}
.name_5{
    position: relative;
    top: 50%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}
.occ_5{
    position: relative;
    top: 55%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
}
.container7 {

    position: relative;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 300px;
    
}

.container7 h1 {
    position: relative;
    width: 100%;
    height: 64px;
    text-align: center;


    font-family: 'Clash Display', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 44px;
    /* identical to box height, or 145% */


    color: #073F9E;
}

.faq-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 5%;
}
.hr-line {
    width: 70%;
    margin: auto;
    top: 0;
    left: 0%;
    border-top: 1px solid rgb(188, 188, 188);

}
.faq-page {
    /* background-color: #eee; */
    position: relative;
    color: black;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    padding: 5px 20px;
    padding-top: 20px;
    width: 70%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;

}
.faq-body {
    position: relative;
    margin: auto;
    /* text-align: center; */
    width: 70%;
    padding: auto;
    left: 8.25%;

}
.faq-body p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;

}
.active,
.faq-page:hover {
    background-color: white;
}
.faq-body {
    position: relative;
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '+';
    /* Unicode character for "plus" sign (+) */
    font-size: 27px;
    color: black;
    float: right;
    margin-left: 5px;
    position: relative;
}
.active:after {
    content: "-";
    /* Unicode character for "minus" sign (-) */
}
.container6 {
    position: relative;
    display: flex;
    width: 100%;
    height: 550px;
    left: 0%;
    top: 400px;
    justify-content: center;
    background: linear-gradient(169.29deg, #073F9E 0%, #487CD5 183.62%);
}
.box_contact_1{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 80%;
    left: 0%;
    top: 5%;
    justify-content: center;
    /* text-align: center; */
}

.box_contact_1 hr{
    position: relative;
    top: -1%;
    left: 0%;
    width: 120px;
}
.box_contact_1 a{
    position: relative;
    display: block;
    width: 50%;
    height: 20%;
    
    top: 11%;
    /* text-decoration: underline; */
    text-decoration: none;
    font-size: 28px;
    color: white;
}
.box_contact_1 p {
    position: relative;
    display: block;
    width: 50%;
    height: 12%;
    /* top: 2%; */
    /* text-align: center; */

    font-size: 10px;
    color: white;
}
#trusty61{
    left: 2%;
    

}
#pw-mo{
    top: 0%;
    left: 4%;
}
.box611{
    position: relative;
    left: 0%;
    top: 4%;
}
.box611 p{
    position: relative;
    display: block;
    width: 100%;
    font-size: 25px;
    text-align: left;
    font-family: 'Lato';
}
.follow{
    position: relative;
    top: 15%;
    height: 30%;
    width: 70%;
}

.follow h3{
    color: white;
    font-size: 14px;
    font-family: 'Lato';
}
.follow_links{
    top: 15%;
    position: relative;
    display: flex;
    flex-direction: row;
}
.follow_links img{
    border-radius: 50%;
}

.box_contact_2{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 30%;
    height: 80%;
    left: 5%;
    top: 10%;
}
.box_contact_2 h2{
    position: relative;
    left: 5%;
    width: 100%;
    font-size: 3rem;
    color: white;
    font-family: 'Clash Display', sans-serif;
}
.box_contact_2 input{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    color: white;
    width: 80%;
    height: 30px;
    left: 5%;
    outline: none;
    font-size: 20px;
}
.box_contact_2 ::-webkit-input-placeholder{
    color: white;
    font-size: 20px;
    font-family: 'Lato';
}
.btn62{
    position: relative;
    display: block;
    left: 5%;
    width: 50%;
    margin-top: 3%;
    padding: 3%;
    border-radius: 30px;
    border: none;
    text-decoration: none;
    font-size: medium;
    color: #0a2540;
}
.box_contact_3{
    position: relative;
    display: inline-block;
    width: 30%;
    height: 60%;
    left: 5%;
    top: 22%;
    font-family: 'Lato';

}
.box_contact_3 h2{
    position: relative;
    display: inline-block;
    color: white;
    width: 80%;
    left: 20%;
    margin-bottom: 20%;
    font-weight: 500;
}

.box_contact_3 a{
    color: white;
    text-decoration: none;
}
.box_contact_3 a:visited{
    color: white;
}

.box_content_3 p{
    position: relative;
    display: block;
    color: white;
    width: 80%;
    left: 20%;
    top: 100%;
}
.links_bc3 a{
    position: relative;
    display: block;
    color: white;
    width: 80%;
    left: 20%;
    text-decoration: none;
}



.create_account {
    position: absolute;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    

    background-color: white;
    box-shadow: inset;
    border-radius: 20px;
}

.welcome{
    position: absolute;
    display: flex;
    width: 50%;
    height: 100%;
   
}

.create{
    position: absolute;
    display: none;
    width: 50%;
    height: 100%;
    text-align: center;

}

.content {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.content a {
    position: relative;
    display: block;
    font-size: 200%;
    color: #073F9E;
    top: 4%;
    font-weight: bolder;
}

.content p {
    position: relative;
    display: block;
    text-align: center;
    font-size: x-small;
    top: 4%;
    color: #073F9E;
    font-weight: bolder;
}

.content h1 {
    position: relative;
    display: flex;
    top: 10%;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: x-large;
    color: #073F9E;
}

.content h2 {
    position: relative;
    display: flex;
    top: 10%;
    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
}

.form {
    position: relative;
    display: block;
    top: 15%;
    justify-content: center;
    width: 60%;
    border: none;

}

.form input {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;

}

.form p{
    position: relative;
    left: -35%;
}

.footer {
    position: relative;
    display: block;
    top: 20%;
}

.footer h3 {

    position: relative;
    display: flex;

    justify-content: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
}

.account_logo {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.facebook {
    border: 2px solid gray;
    padding: 5% 5%;
    margin: 2%;
    border-radius: 5px;

}

.apple {
    border: 2px solid gray;
    padding: 5% 5%;
    margin: 2%;
    border-radius: 5px;

}

.google {
    border: 2px solid gray;
    padding: 5% 5%;
    margin: 2%;
    border-radius: 5px;
}

.button {
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 30%;
    height: 200%;
    padding: 3%;
    margin: 2% 0% 0% 0%;
    background-color: #073F9E;
    color: white;
    border-radius: 120px;
    font-size: medium;
    border: none;
}

.button a {
    color: white;
    text-decoration: none;

}

.button a:visited {
    color: white;
}

.footer p {
    top: 80%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    color: gray;
    font-size: x-small;
}

.footer a {
    font-size: x-small;
}

.button_0{
    position: relative;
    border: none;
    background: none;
    font-size: x-small;
    color: gray;
}

.image {
    position: relative;
    display: flex;
    width: 50%;
    height: 100%;
   left: 50%;

}

.image img {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    letter-spacing: 0%;
    border-radius: 0px 20px 20px 0px;
}

.otp_verif {
    position: relative;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    justify-content: center;
}

.otp_verif input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}
.button_1{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 70%;
    height: 10%;
    padding: 3%;
    margin: 5% 0% 0% 0%;
    background-color: #073F9E;
    color: white;
    border-radius: 120px;
    font-size: medium;
    border: none;
}

.otp_verif a{
    font-size: x-small;
}

.enter_mob_num, .forgot_password{
    position: relative;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    justify-content: center;
}
.enter_mob_num input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}
.forgot_password input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}
.button_2{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 70%;
    height: 10%;
    
    padding: 3%;
    margin: 5% 0% 0% 0%;
    background-color: #073F9E;
    color: white;
    border-radius: 120px;
    font-size: medium;
    border: none;
}

.enter_mob_num a{
    font-size: x-small;
}

.otp_verif_email {
    position: relative;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    justify-content: center;
}

.otp_verif_email input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}
.button_3{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 70%;
    height: 10%;
    padding: 3%;
    margin: 5% 0% 0% 0%;
    background-color: #073F9E;
    color: white;
    border-radius: 120px;
    font-size: medium;
    border: none;
}

.otp_verif_email a{
    font-size: x-small;
}
.enter_password {
    position: relative;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    justify-content: center;
}

.enter_password input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}

.enter_password_change {
    position: relative;
    display: none;
    width: 58%;
    height: 68.7%;
    left: 20%;
    top: 15%;
    justify-content: center;
}

.enter_password_change input{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom: 7%;
}

.button_4{
    position: relative;
    display: inline-block;
    justify-content: center;
    width: 90%;
    height: 10%;
    padding: 3%;
    margin: 5% 0% 0% 0%;
    background-color: #073F9E;
    color: white;
    border-radius: 120px;
    font-size: medium;
    border: none;
}

.enter_password a{
    font-size: x-small;
}


.forgot_password{
    display: none;
}

@media only screen and (min-width:900px) and (max-width:1200px){
    .container_1{
        left: 3%;
    }
    .box_1{
        width: 47%;
    }
    .box_15{
        position: relative;
        left: 52%;
    }
    .container_2{
        height: 270px;
    }
    .container_2 .logo{
        height: 372px;
        top: -37px;
    }
    .container_2 .mission{
        left: -5%;
    }
    .container_2 .text{
        left: -5%;
    }
}
